<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="main-header">
        <nav class="navbar navbar-expand-lg text-white w-100">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="#">CaheUp</a>              
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <form action="">
                <h2 class="my-4">Responde en menos de 10 segundos y gana un curso gratis</h2>
                <div id="timer-bar">
                    <div id="timer-circle">10</div>
                    <div id="progress-bar"></div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta1" class="form-label">🤔 ¿Cuáles son los principales riesgos de seguridad en trabajos en altura?</label>
                                <input type="text" class="form-control" id="pregunta1" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta2" class="form-label">🛑 ¿Cuáles son los equipos de protección personal (EPP) esenciales para trabajadores en alturas?</label>
                                <input type="text" class="form-control" id="pregunta2" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta3" class="form-label">🔧 ¿Cómo se realiza una inspección adecuada de equipos de seguridad en altura?</label>
                                <input type="text" class="form-control" id="pregunta3" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta4" class="form-label">🏗️ ¿Cuáles son las medidas de prevención para evitar caídas en trabajos en altura?</label>
                                <input type="text" class="form-control" id="pregunta4" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta5" class="form-label">🌡️ ¿Qué precauciones adicionales se deben tomar en trabajos en caliente para prevenir accidentes?</label>
                                <input type="text" class="form-control" id="pregunta5" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta6" class="form-label">🏗️ 🚧 ¿Cuál es la importancia de tener un plan de rescate en trabajos en altura y en caliente?</label>
                                <input type="text" class="form-control" id="pregunta6" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta7" class="form-label">🤕 ¿Cuáles son los primeros auxilios comunes en caso de accidentes en trabajos en altura?</label>
                                <input type="text" class="form-control" id="pregunta7" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta8" class="form-label">🌐 ¿Cómo se evalúa y controla el riesgo de caídas en un entorno de trabajo en altura?</label>
                                <input type="text" class="form-control" id="pregunta8" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta9" class="form-label">⚠️ ¿Qué normativas y regulaciones deben seguirse al realizar trabajos en altura?</label>
                                <input type="text" class="form-control" id="pregunta9" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta10" class="form-label">🧯 ¿Cuáles son las medidas de seguridad específicas para trabajos en caliente cerca de materiales inflamables?</label>
                                <input type="text" class="form-control" id="pregunta10" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta11" class="form-label">🤷‍♂️ ¿Cuáles son las consecuencias de no seguir las normas de seguridad en trabajos en altura y en caliente?</label>
                                <input type="text" class="form-control" id="pregunta11" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta12" class="form-label">🔄 ¿Cómo se capacita adecuadamente a los trabajadores para realizar tareas en altura y en caliente?</label>
                                <input type="text" class="form-control" id="pregunta12" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta13" class="form-label">🌪️ ¿Cuáles son las medidas de seguridad durante condiciones climáticas adversas en trabajos en altura?</label>
                                <input type="text" class="form-control" id="pregunta13" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta14" class="form-label">📋 ¿Qué documentación y permisos son necesarios antes de realizar trabajos en altura y en caliente?</label>
                                <input type="text" class="form-control" id="pregunta14" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3 p-3">
                                <label for="pregunta15" class="form-label">🔄 ¿Cómo se lleva a cabo una evaluación de riesgos efectiva en trabajos en altura y en caliente?</label>
                                <input type="text" class="form-control" id="pregunta15" placeholder="Ingresa tu respuesta">
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </form>
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="./timer.js"></script>
</html>