{% load static %}
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
    <link rel="stylesheet" href="{% static 'css/styleVicamar.css' %}">
</head>
<body>
    <form action="{% url 'formularioCotizacion' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-descargar" id="desargar">Descargar</button>
    </form>
</body>
</html>